body {
	margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
    content: " ";
    display: table;
}

.container h1, h3 {
	width: 100%;
	text-align: center;
}

	/*HEADER */

.section {
    padding: 3% 0 0;
    color: #e0e0e5;
    background-color: #2d3d58;
}

.selection.main-head {
	min-height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	position: relative;
	background-color: #4A76A8;
}

.selection.main-head::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-color: #4A76A8;
	opacity: .9;
}

.header_main_content {
	position: relative;
}

.header_photo {
	user-select: none;
	padding-top: 20%;
	margin: 0 auto;
}

.header_photo img {
	border-radius: 50%;
	border-color: #fff;
	border-style: solid;
	padding: 2px;
}

.header_main_content h1 {
	color: #fff;
	font-size: 20px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 20%;
}

/* MAIN*/

article {
	/*padding-top: 7%;*/
}

article h1 {
	padding-top: 10%;
}

.shadow-box {
	padding-bottom: 10%;
	padding-top: 3%;
}

.shadow-box:hover {
	-webkit-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.5);
	box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.5);
}

.progress-box {
	padding-top: 2%;
	padding-bottom: 5%;
}

.progress-block {
	margin: 0 2% 0 2%;
}

.progress {
    display: -ms-flexbox;
    display: flex;
    min-width: 270px;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
}

/*contact*/

.contact_image {
	padding-top: 75px;
	padding-bottom: 100px;
	width: 100%;
	text-align: center;
}

.contact_image .fas, .fab {
	font-size: 100px;
}

@media (max-width: 450px) {
	.contact_image .fas, .fab {
		font-size: 20px;
	}
	.contact_image p {
		font-size: 10px;
	}
}


/*FOOTER*/

footer {
	background-color: #E7EAED;
}

footer p {
	float: right;
}

.text-right {
	width: 100%;
}

@media (max-width: 769px) {
	footer p {
		float: none;
		text-align: center;
	}
}